@import '../../scss/_variables', '../../scss/App';

.root {

  h3 {
    @include font18ForLaptopL;
    font-weight: 700;
    margin: 0 0 16px;
    color: $brunswick-green;
  }

  .block {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px 32px;
    padding: 16px;

    box-shadow: $button-box-shadow;

    border-radius: $light-rounded-border-radius;
    background-color: $baby-powder;

    .element {
      @include fontSmall;
      color: $eerie-black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .all {
        color: $brunswick-green;
        font-weight: 700;
      }

      .number {
        @include fontLarge;
        color: $brunswick-green;
        font-weight: 700;
      }

      .warning {
        color: $falu-red;
      }
    }
  }
}