@import '../../scss/_variables', '../../scss/App';

.toolBar {
  background-color: $honeydew;
  display: flex;
  justify-content: space-between;
}

svg {
  fill: $brunswick-green;
}

.buttonsGroup {
  display: flex;
  justify-content: flex-end;

  .searchIcon {
  }

  .accountIcon {
  }
}
