@import '../../scss/_variables', '../../scss/App';

.drawer {
  .listItemButton {
    .listItemTitle {
      font-weight: 500;
      color: $brunswick-green;
      @include fontSmall;
      margin: 8px;
    }
  }
}

