body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(1vw + 0.6em);
}

body, input, textarea, button {
  font-family: 'Manrope', sans-serif;
}